:root{

    --bg:#141D33;

    --card:#F4E3E2;

    --primary:#A61D16;

    --primary-dark:#7C1712;

    --title:#5A130F;

    --white:#ffffff;

    --gray:#bdbdbd;

    --border:#e7d9d9;

    --shadow:0 5px 15px rgba(0,0,0,.15);

    --radius:14px;

}

/* Reset */

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:var(--bg);

color:white;

}

a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

border:none;

}

img{

max-width:100%;

display:block;

}

.container{

width:min(1200px,95%);

margin:auto;

}