.home-page{

    background:#141D33;

    min-height:100vh;

}

.home-content{

    width:min(900px,100%);

    margin:auto;

    padding-bottom:120px;

}

.empty{

    background:white;

    border-radius:15px;

    padding:40px;

    text-align:center;

    margin:20px;

}

.empty h2{

    color:#A61D16;

    margin-bottom:10px;

}

.empty p{

    color:#666;

}

@media(min-width:1000px){

.home-content{

padding-top:10px;

}

}