.loader{

padding:15px;

display:grid;

gap:15px;

}

.loader-card{

background:white;

padding:15px;

border-radius:15px;

animation:pulse 1.4s infinite;

}

.loader-avatar{

width:50px;

height:50px;

border-radius:50%;

background:#ddd;

margin-bottom:15px;

}

.loader-title{

height:16px;

width:70%;

background:#ddd;

border-radius:10px;

margin-bottom:15px;

}

.loader-line{

height:12px;

background:#ddd;

border-radius:10px;

margin-bottom:10px;

}

.loader-line.short{

width:60%;

}

@keyframes pulse{

0%{

opacity:.55;

}

50%{

opacity:1;

}

100%{

opacity:.55;

}

}