.search-filter{

padding:15px;

background:#141D33;

position:sticky;

top:70px;

z-index:800;

}

.search-filter input{

width:100%;

padding:13px;

border-radius:15px;

border:none;

outline:none;

margin-bottom:12px;

font-size:14px;

}

.filter-row{

display:flex;

gap:10px;

}

.filter-row select{

flex:1;

padding:12px;

border:none;

border-radius:12px;

outline:none;

font-size:13px;

}

@media(max-width:600px){

.filter-row{

flex-direction:column;

}

}